<h3><%= link_to 'New Golfer', new_golfer_path, :class => 'btn btn-inverse' %>
</h3>

<table id="golfers" class="table table-striping">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handicap</th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= link_to golfer.name, edit_golfer_path(golfer), :class => 'btn btn-success' %></td>
        <td><%= golfer.handicap %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

