<h3><%= link_to 'New Golfer', new_golfer_path, :class => 'btn btn-success' %>
</h3>

<<<<<<< HEAD
<<<<<<< HEAD
<table id="golfers" class="table table-striping">
=======
<table class="table table-striping">
>>>>>>> 337d42880bbd6e423c004f7df78f0449f40e0e77
=======
<table class="table table-striping">
>>>>>>> 337d42880bbd6e423c004f7df78f0449f40e0e77
  <thead>
    <tr>
      <th>Name</th>
      <th>Handicap</th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= link_to golfer.name, edit_golfer_path(golfer) %></td>
        <td><%= golfer.handicap %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

