<h3>Scores</h3>

<table class="table table-striping">
  <thead>
    <tr>
<th>Golfer</th>
      <th>Hole</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |s| %>
      <tr>
<td><%= Golfer.find(s.golfer_id).name %></td>
        <td><%= s.hole_id %></td>
        <td><%= s.stroke %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

