<ul class="nav nav-tabs">
<li class="active"><a href="../courses">Courses</a></li>
<li><a href="../golfers">Golfers</a></li>
<li><a href="../matches">Matches</a></li>
</ul>

<h3>New Course</h3>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
