<!DOCTYPE html>
<html>
<head>
  <title>Matchplay</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="btn-group btn-group-centered">
<div class="navbar-header">
   <ul id="top-btn" class="nav">
        <li><a class="btn btn-success" class="brand" href="#"><h4>Match Play Calculator</h4></a></li>
	<li><a class="btn btn-success" class="brand" href="/courses"><h4>Courses</h4></a></li>
	<li><a class="btn btn-success" class="brand" href="/golfers"><h4>Golfers</h4></a></li>
	<li><a class="btn btn-success" class="brand" href="/matches"><h4>Matches</h4></a></li>
   </ul>
</div>
</div>

<%= yield %>


</div>
</body>
</html>
